
@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1530185595833'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1530185595833#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.ttf?t=1530185595833') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1530185595833#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-table-backout-btn:before { content: "\e6421"; }

.icon-left_nav_arrow-up-ic:before { content: "\e6441"; }

.icon-left_nav_arrow-down-:before { content: "\e6451"; }

.icon-left_nav_show_btn:before { content: "\e6461"; }

.icon-left_nav_hide_btn:before { content: "\e6471"; }

.icon-table_edit_ic:before { content: "\e6481"; }

.icon-table_error_ic:before { content: "\e6491"; }

.icon-nav_all-close_btn_ic:before { content: "\e6561"; }

.icon-nav_close_btn_ic:before { content: "\e6811"; }

.icon-add_btn_ic:before { content: "\e6581"; }

.icon-admin_menu_ic:before { content: "\e6591"; }

.icon-admin_page_ic:before { content: "\e65a1"; }

.icon-alarm-wh_btn_ic:before { content: "\e65b1"; }

.icon-admin_module_ic:before { content: "\e65c1"; }

.icon-admin_user_ic:before { content: "\e65d1"; }

.icon-c-name_btn:before { content: "\e6611"; }

.icon-calendar_ic:before { content: "\e6621"; }

.icon-check_btn_ic:before { content: "\e6641"; }

.icon-earnest-money_btn_ic:before { content: "\e6661"; }

.icon-change_btn_ic:before { content: "\e6671"; }

.icon-delete_btn_ic:before { content: "\e6681"; }

.icon-edit_btn_ic:before { content: "\e6691"; }

.icon-leading-in-wh_btn_ic:before { content: "\e66a1"; }

.icon-leading-out-wh_btn_i:before { content: "\e66b1"; }

.icon-part_btn_ic:before { content: "\e66d1"; }

.icon-print_btn_ic:before { content: "\e66e1"; }

.icon-recycle-wh_btn_ic:before { content: "\e6701"; }

.icon-revoke_btn_ic:before { content: "\e6711"; }

.icon-select-wh_btn_ic:before { content: "\e6731"; }

.icon-sort_btn_ic:before { content: "\e6761"; }

.icon-shield_btn_ic:before { content: "\e6771"; }

.icon-show_btn_ic:before { content: "\e6781"; }

.icon-synchronize_btn_ic:before { content: "\e6791"; }

.icon-table_edit_ic1:before { content: "\e67a1"; }

.icon-table_refresh_btn_n:before { content: "\e67b1"; }

.icon-table_set_btn_n:before { content: "\e67c1"; }

.icon-tag_btn_ic:before { content: "\e67d1"; }

.icon-uploading-wh_btn_ic:before { content: "\e67e1"; }

.icon-second-nav_arrow_rig:before { content: "\e6821"; }

.icon-second-nav_arrow_lef:before { content: "\e6831"; }

.icon-search_ic:before { content: "\e6851"; }

.icon-save_btn_ic:before { content: "\e6871"; }

.icon-table_money_ic:before { content: "\e6881"; }

.icon-table_askprise_ic:before { content: "\e6891"; }

.icon-table_client_ic:before { content: "\e68a1"; }

.icon-table_documents_ic:before { content: "\e68b1"; }

.icon-bomlist_edit_btn:before { content: "\e6901"; }

.icon-bomlist_delete_btn:before { content: "\e6911"; }

.icon-bomlist_revoke_btn1:before { content: "\e6921"; }

.icon-bomlist_save_btn1:before { content: "\e6931"; }

.icon-refresh_btn_ic:before { content: "\e68c1"; }

.icon-copy_btn_ic:before { content: "\e68d1"; }

.icon-backout_btn_ic:before { content: "\e68e1"; }

.icon-table-custom_btn_ic:before { content: "\e68f1"; }

.icon-send_btn:before { content: "\e6941"; }

.icon-close_btn:before { content: "\e6951"; }

.icon-message_btn_ic:before { content: "\e6961"; }

.icon-shield_btn:before { content: "\e6971"; }

.icon-add-friend_btn:before { content: "\e6981"; }

.icon-arrow-drop-up_ic:before { content: "\e6991"; }

.icon-arrow-drop-down_ic:before { content: "\e69a1"; }

.icon-open-up_btn:before { content: "\e69b1"; }

.icon-put-away_btn:before { content: "\e69c1"; }

.icon-contact_search_ic:before { content: "\e69d1"; }

.icon-chat_ic:before { content: "\e69e1"; }

.icon-tab_contact_ic:before { content: "\e69f1"; }

.icon-tab_chat_ic:before { content: "\e6a01"; }

.icon-ascending_btn_ic:before { content: "\e6a11"; }

.icon-labelling_btn:before { content: "\e6a61"; }

.icon-share_btn:before { content: "\e6ab1"; }

.icon-arrow_unfold_btn:before { content: "\e6af1"; }

.icon-arrow_retract_btn:before { content: "\e6b01"; }

.icon-admin_file_ic:before { content: "\e6b21"; }

.icon-notice_btn_ic:before { content: "\e6b31"; }

.icon-download_btn_ic:before { content: "\e6b41"; }

.icon-table_unfold_n1:before { content: "\e6b51"; }

.icon-table_pack-up_btn_n1:before { content: "\e6b71"; }

.icon-arrow_up_btn:before { content: "\e6ad1"; }

.icon-arrow_left_btn:before { content: "\e6ae1"; }

.icon-admin_folder_ic1:before { content: "\e6a21"; }

.icon-linkall_search_ic:before { content: "\e6a31"; }

.icon-linkall__ic:before { content: "\e6a41"; }

.icon-linkall__ic1:before { content: "\e6a51"; }

.icon-linkall_attachment_i:before { content: "\e6a71"; }

.icon-table_stop_ic:before { content: "\e6a81"; }

.icon-pic_btn_ic:before { content: "\e69a2"; }

.icon-success_ic:before { content: "\e69b2"; }

.icon-warning_ic:before { content: "\e69c2"; }

.icon-query_ic:before { content: "\e69d2"; }

.icon-error_ic:before { content: "\e69e2"; }

.icon-float_edit_ic:before { content: "\e69d3"; }

.icon-float_drag_ic:before { content: "\e69e3"; }

.icon-drag_ic:before { content: "\e69f2"; }

